<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ilham.appcerita">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_mykisah"
        android:label="Mykisah"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".DetailCerita"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" /> <!-- Splash pertama kali -->
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Halaman lainnya -->
        <activity android:name=".Login" />
    </application>

</manifest>